*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;

}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

header{
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
    
     
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 90px;
}

header .logo img{
    width: 90px;
    height: 90px;
    
    border-radius: 45px;
    

}

header .btn-contato{
    margin-left: auto;
}

 .btn-contato button{
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(54, 54, 152);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    
}

  button:hover{
    box-shadow: 0px 0px 8px ;
    cursor: pointer;
    transform: scale(1.05);

}

/* ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 20px 4%;
    



}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    

}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }


}

/* TECNOLOGIAS */
section.especialidades{
   padding: 40px 4%; 
   
   
}

section.especialidades .flex{
    gap: 80px;
    text-align: center;
}



h2.titulo{
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.especialidades .tecnologias  {
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;

    color: #fff;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: .2s;
    text-decoration: none;



} 




.especialidades .tecnologias:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;

}

.especialidades .tecnologias i{
    font-size: 70px;
    color: rgb(54, 54, 152);
    

}
.especialidades .tecnologias h3{
    font-size: 28px;
    margin: 15px 0;

}

/* ESTILO DO SOBRE */

section.sobre{
    padding: 100px 4%;
}

section.sobre .flex{
    align-items: center;
    
    gap: 60px
}
.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
    font-size: 40px;
    margin-bottom: 30px;
    
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}


.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(54, 54, 152);
    font-size: 25px;
    cursor: pointer;
    margin: 0 4px;
    transition: .2s;
    

}

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 50px;
    

} 

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}
.img-port:hover{
    background-position: 100% 100%;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    


}

.overlay:hover{
    opacity: 0;
}







